section#getApp
  .container-fluid
    .section-heading.inverse.scrollpoint.sp-effect3
      h1 Get Tested
      .divider
      p Let's find a good time to test your water!
    .row
      .col-md-12
        .hanging-phone.scrollpoint.sp-effect2.hidden-xs
          // <img src="assets/img/rfw/bigbluewaters.jpg" alt="">
        .platforms
          a.btn.btn-primary.inverse.scrollpoint.sp-effect1(href='http://meetme.so/JustinLarson')
            i.fa.fa-tint.fa-3x
            span Free Water
            br
            b Test
