//- head.jade

head
meta(charset='UTF-8')
title Robertson Family Water
meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
link(rel='shortcut icon', href='favicon.ico')
// Bootstrap 3.3.2
link(rel='stylesheet', href='assets/css/bootstrap.min.css')
link(rel='stylesheet', href='assets/css/animate.css')
link(rel='stylesheet', href='assets/css/font-awesome.min.css')
link(rel='stylesheet', href='assets/css/slick.css')
link(rel='stylesheet', href='assets/js/rs-plugin/css/settings.css')
link(rel='stylesheet', href='assets/css/styles.css')
link(rel='stylesheet', href='assets/css/morestyles.css')
script(type='text/javascript', src='assets/js/modernizr.custom.32033.js')

