//- reviews.jade
section#reviews
        .container
          .section-heading.inverse.scrollpoint.sp-effect3
            h1 Reviews
            .divider
            p Don't take our word for it...
          .row
            .col-md-10.col-md-push-1.scrollpoint.sp-effect3
              .review-filtering
                .review
                  .row
                    .col-md-2
                      .review-person
                        img.img-responsive(src='http://api.randomuser.me/portraits/women/94.jpg', alt='')
                    .col-md-10
                      .review-comment
                        h3
                          | “I just had Mark and Robertson Family Water out yesterday to install my entire house water purifier and water softener. WOW! I am amazed at how great the water feels and tastes. I even drank water out the kitchen sink faucet for the first time EVER. If you are like me and you are sick of the nasty water we have, call Mark. He and his family are the best. You will not be disappointed!”
                        p
                          | - Melodie Garrison
                .review.rollitin
                  .row
                    .col-md-2
                      .review-person
                        img.img-responsive(src='http://api.randomuser.me/portraits/women/70.jpg', alt='')
                    .col-md-10
                      .review-comment
                        h3
                          | “This family is amazing. I love their water treatment service and I highly recommend them!! Mark Robertson and family - we respect you all very much.”
                        p
                          | - Lisa Marie Danks
                .review.rollitin
                  .row
                    .col-md-2
                      .review-person
                        img.img-responsive(src='http://api.randomuser.me/portraits/men/93.jpg', alt='')
                    .col-md-10
                      .review-comment
                        h3
                          | “Robertson Family Water installed a whole-house system for me years ago. Because of my floorplan, the installation was a little tricky, but Mark and his installers found a way to work around the problem. The system has been operating flawlessly for years and years. Mark and the whole company are all about customer service. You will not find a better group of people to work with.”
                        p
                          | - R. Johnson
