section#screens
    .container
        .section-heading.scrollpoint.sp-effect3
          h1 Products
          .divider
          p Id adipisicing banjo laboris
        //
          <div class="filter scrollpoint sp-effect3">
          <a href="javascript:void(0)" class="button js-filter-all active">All Screens</a>
          <a href="javascript:void(0)" class="button js-filter-one">User Access</a>
          <a href="javascript:void(0)" class="button js-filter-two">Social Network</a>
          <a href="javascript:void(0)" class="button js-filter-three">Media Players</a>
          </div>
        .slider.filtering.scrollpoint.sp-effect5
          .one
            img(src='assets/img/rfw/Vesta_Images/Vesta_Softener.jpg', height='325', width='180', alt='')
            h4 Vesta Softeners
          .two
            img(src='assets/img/rfw/Vesta_Images/Vesta_Twin.jpg', height='325', width='180', alt='')
            h4 Vesta Complete Systems
          .three
            img(src='assets/img/rfw/big-blue-filter.jpg', height='325', width='180', alt='')

            h4 Big Blue Filters
          .one
            img(src='assets/img/rfw/Vesta_Images/Vesta_Twin.jpg', height='325', width='180', alt='')

            h4 Reverse Osmosis
          .one
            img(src='assets/img/rfw/Vesta_Images/Vesta_Twin.jpg', height='325', width='180', alt='')

            h4 Well Water treatment
          .two
            img(src='assets/img/rfw/Vesta_Images/Vesta_Twin.jpg', height='325', width='180', alt='')

            h4 Well Water treatment
          .three
            img(src='assets/img/rfw/Vesta_Images/Vesta_Twin.jpg', height='325', width='180', alt='')

            h4 Well Water treatment
