//- splashnav.jade
nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
        .container
          .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
              span.fa.fa-bars.fa-lg
            a.navbar-brand(href='index.html')
              img.logo(src='assets/img/rfw/logo2.png', alt='')
          #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href='index.html#whoweare') who we are
              li
                a(href='index.html#yourwater') your water
              li
                a.getApp(href='http://meetme.so/JustinLarson') free water test
              li
                a(href='index.html#contact') contact us
